* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.create_div {
    width: 100%;
    height: 100vh;
    background-color: #6a11cb;
    background: linear-gradient(to right, #eeaeca, #94bbe9);
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.add_image {
    width: 25rem;
    height: 15rem;
    background-image: url('../../public/images/add.jpeg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: transparent;
}
.heading {
    font-size: 1.5rem;
}
.add_form {
    width: 30%;
    height: auto;
    padding: 20px;
}
.submit_btn {
    text-align: center;
    margin: 0 auto;
}
input {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05);
}
.add_btn, .cancel_btn {
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 0 auto;
   font-size: 0.8rem;
}
 .error_label {
    font-size: 12px;
    padding: 0;
    color: red;
 } 