*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    width: 10%;
    height: 10%;
    background: transparent;
}

.dropdown{
    display: inline;
}
.right_header {
    display: flex;
    justify-content: flex-end;
    /* flex-direction: row; */
}
.profile_img{
    width:30px;
    height: 30px;
}
.logout{
    border-radius: 25px;
    background-image: linear-gradient(90deg,#4776e6 0,#8e54e9 51%,#4776e6);
}
.img_div {
    cursor: pointer;
}

